<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>Business-Contact</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="career.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
        <link href="#" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    </head>
    <body>
      
          <!----------second nav bar---------------------------->
          <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav2">
            <a class="navbar-brand text-white" href="#" > BUSINESS-CONTACT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto w-100 justify-content-end ">
                <li class="nav-item ">
                  <a class="nav-link text-white" href="index.html">Home</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link text-white" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Careers</a>
                </li>
                
                <button type="button" class="btn btn-warning text-white">Subscribe</button>
               
              </ul>
              
            </div>
          </nav>
          <!-----cover image using jumbotron------------------------------------------------------>
          <div class="jumbotron jumbotron-fluid masthead">
            <div class="container">
              <div ></div>
              <h1 class="display-4">Join Our Team</h1>
              <p class="text-white text-center">"Joining a new team can be a daunting and nerve wracking experience for any ... Find out about the history, philosophy and values that have built the company you're ... by finding out what it really means to be part of the team and the business  But behind every successful startup is an extraordinary team that is ... This means that you started this business to solve a problem and they're an ... hour a week for each employee to share their thoughts on our company </p>
            </div>
          </div>
 <!----------------------------------details---------------------------------------->
 <div class="container text-center text-md-left">
 <div class="row text-center text-md-left mt-3 pb-3">
   <div class="col-sm-2"></div>
  <div class=" col-sm-3 ">
    <p style="font-size: 23px;">Business-Contact Empowers Entrepreneurs </p>
  </div>
  <div class="col-md-5" >
    <div class="font-weight-bold" style="font-size: 28px;">
      <p>
        We Strive To Create An 
Innovative And Fair Entrepreneurial Climate -
 This Is Not Your Typical, Monotonous Workplace. 
Join Us, Think Big, And Do What You've Always.
      </p>
    </div>
  </div>
</div>
</div>
<hr class="w-100 clearfix d-md-none">
<div class="container text-center text-md-left">
 <div class="row text-center text-md-left mt-3 pb-3">
   <div class="col-sm-2"></div>
  <div class=" col-sm-3 " >
    <p style="font-size: 23px;"> Challenges 
      And Develops People</p>
  </div>
  <div class="col-md-5" >
    <div class="font-weight-bold" style="font-size: 28px;">
      <p>
        We Have Already Gathered Some Of The Best Minds. 
        Come And Join Us!
      </p>
    </div>
  </div>
</div>
</div>
<hr class="w-100 clearfix d-md-none">
<div class="container text-center text-md-left">
 <div class="row text-center text-md-left mt-3 pb-3">
   <div class="col-sm-2"></div>
  <div class=" col-sm-3 font-weight-bold" >
    <p style="font-size: 23px;">Our Current Openings </p>
  </div>
  <div class="col-md-5 " >
    <div style="font-size: 28px;">
      <p>
       Software Developer-Python, Django- Full 
Stack- 1+ years of experience. (Bangalore)
      </p>
      <p>
        Designer-3d Animator- Full Stack- Fresher. (Bangalore) 
      </p>
      <p>
        Web Developer-Fresher (Bangaluru)
        6 Months of Internship is always open for deserving candidates. (Bangaluru)
      </p>
    </div>
  </div>
</div>
</div>
<!-------------------------footer----------------------------------------------------------------------------->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white" >BUSSINESS <br>CONTACT</h6>
        <p class="text-white">wwW.businesscontact.com</p>
      </div>

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3 text-white">
        <h6 class="text-uppercase mb-4 font-weight-bold ">Categories</h6>
        
        <p> About </p>
        <p> Product</p>
        <p> Promotion</p>
        <p> Testimonials </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">Social Media</h6>
        <p>
          <i class="fab fa-whatsapp "></i> Whatsapp</p>
        <p>
          <i class="fab fa-facebook-square"></i> Facebook</p>
        <p>
          <i class="fab fa-linkedin"></i> Linkedin</p>
        <p>
          <i class="fab fa-google-plus-g"></i> Google+</p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
        <p>
            sri venkateshwara college of engg ,Yelahanka
             Bengaluru, Karnataka 560064 
             
            </p>
        <p>www.bussinesscontact.com</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="bg-white">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left text-white">2021 bussinesscontact. All Rights Reserved 
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0 text-white">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <p>Terms of Service</p>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <p>Privacy Policy</p>
              </a>
            </li>
           
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
          
                  
                  </body>
                  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>