<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>Bnsiness-contact</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="contact.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
        <link href="#" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <!--<div id="nav1">-->
        
          <!----------second nav bar---------------------------->
          <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav2">
            <a class="navbar-brand text-white" href="#" > BUSINESS-CONTACT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto w-100 justify-content-end ">
                <li class="nav-item ">
                  <a class="nav-link text-white" href="index.html">Home</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link text-white" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="career.html">Careers</a>
                </li>
                
                <button type="button" class="btn btn-warning text-white">Subscribe</button>
               
              </ul>
              
            </div>
          </nav>
<!--------------------------cover image using jumbotron--sahil---------------------------------------->
          <div class="jumbotron jumbotron-fluid masthead">
            <div class="container">
              <h1 class="display-4 font-wigth-bold">Contact Us</h1>
              <hr class="bg-danger mx-auto mb-5 " style="height:3px;max-width:200px;">
            </div>
          </div>
<!---------------------------------------------form---------------------------------------------->
          <div class="container login-container " style="justify-content: center;max-width:65vw; margin-top:-35vh;">
            <div  class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10 login-form-1">
                    <h4>Send Us A Message </h4>
                    <form >
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" id="name1" >
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="email" id="email1"  >
                      </div>
                      <div class="form-group">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Phone Number" id="number1"  >
                        </div>
                        <div class="form-group">
                        
                        <textarea class="form-control" rows="5"  name="text"placeholder="Message (Optional)" id="message1"></textarea>
                      </div>
                      <button type="button" class="btn px-5 text-white" style="background-color: rgba(0, 0, 0, 0.877);" onclick="submit1()" >Submit</button>
                    </form>
                </div>
                    </div>
          </div>
                        <!-------------------------------------------------------------------------------------------------->
                        <ul class="" style="display:inline-flex;text-decoration: none;list-style: none;">
                          <li class="" style="padding-right:20px;">
                            
                            <i class="fab fa-whatsapp text-white" ></i>
                          </li>
                        
                          <li class="text-white" style="padding-right:20px;">
                            
                           <i class="fab fa-linkedin" href="#"></i>
                          </li>
                          <li class="  text-white" style="padding-right:20px;">
                            
                            <i class="fab fa-facebook-square" href="#"></i>
                          </li>
                         
                        </ul>
                    </form>
                 </div>
              </div>
          </div>
          <!-----------------------------spacing--------------------------------------------->
          <div class="p-5 "></div>
          <div class="p-5 "></div>
          <!--------------------------------------------------------------------------------->


         
          <!---------------------------------footer------------------------------------------>
          
<!-- Footer -->
<footer class="page-footer font-small mdb-color ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left text-white">2021 BUSINESS-CONTACT. All Rights Reserved 
        </p>

      </div>
      
      <div class="col-md-5 col-lg-4 ml-lg-0 text-white">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <p>Terms of Service</p>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <p>Privacy Policy</p>
              </a>
            </li>
           
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
          
          </body>
          <script src="contact.js"></script>
          <script src="js/lib/jquery.min.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>